# This file specifies environment variables visible
# to the DivSeek Canada (DC/Tripal) Docker Compose build.
# See https://docs.docker.com/compose/environment-variables
#
# A copy of this file should be made into '.env'
#
DC_ADMIN_USER=divseek_admin
DC_ADMIN_EMAIL=admin@divseekcanada.ca
#
# If you proxy the DivSeek Canada Portal through a web server
# (e.g. NGINX, Apache), you need to reset to something like these values
#
# DC_CROP=Sunflower
# DC_SITE_NAME="DivSeek Canada"
# DC_SITE_BASE_HOSTNAME=sunflower.divseekcanada.ca
# DC_BASE_URL_PROTO=https://
#
# This variable needs to be changed if and when
# the 'galaxy' and 'tripal' services exchange their ROOT web path position
# If the Tripal has already been started once, however, you may need to
# purge the volumes/tripal installation or ??? to change the path after initial startup(?)
#
DC_CROP=Sunflower
DC_SITE_NAME=DivSeek Canada
DC_SITE_BASE_HOSTNAME=localhost:8200
DC_BASE_URL_PROTO=http://
DC_BASE_URL_PATH=/tripal
